html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 0;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    background-color: #232323;
    font-family: 'Kanit', sans-serif;
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: azure;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .2s;
}
.pagination a.active {
    background-color: #ffad00;
    color: black;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #747474 }

#myDropdown {
    right: 0;
    left: auto;
}

.center {
    text-align: center;
}

.cart {
    background-color: #ffad00;
    border-radius: 5px;
}

.footer {
    color: darkgrey;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /*line-height: 20px;*/
    background-color: #181818;
}
.footer a {
    color: #bc8000;
}

.error {
    color: red;
}

.myImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.productImg {
    display: block;
    max-width: 80%;
}

.product {
    color: azure;
}
.productTitle {
    font-weight: bold;
}
.myForm {
    color: azure;
}

.addToCartButton {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.tableHeading {
    color: azure;
    font-weight: normal;
}
.buttonLine {
    margin: 0 auto;
}

.activeCategory {
    background-color: #bc8000;
}
