<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: #232323;
            /*color: azure;*/
            font-family: 'Kanit', sans-serif;
        }
        .myForm {
            color: azure;
        }
    </style>
</head>

<body>
<div style="text-align: center;color:#ffad00"><h2>E-commerce demo</h2></div>
<nav class="navbar navbar-dark navbar-expand-lg navbar-light bg-dark align-top">
    <!--    <a class="navbar-brand" href="#">Navbar</a>-->
    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--        <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Order history</a>
            </li>
            <div sec:authorize="hasRole('ROLE_MANAGER')">
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage products</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_MANAGER')">
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage users</a>
                </li>
            </div>

        </ul>
        <form class="form-inline align-right ml-auto mr-4" method="post" action="/logout">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">logout</button>
        </form>
    </div>
</nav>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="myForm">
                <form action="#" th:action="@{/products/add}" th:object="${product}" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="" th:field="*{name}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPrice">Price</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" step="any" class="form-control" id="inputPrice" placeholder="" th:field="*{price}" >
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCategory">Category</label>
                            <select id="inputCategory" class="form-control" th:field="*{category}">
                                <option disabled="disabled" th:value="0">Choose category...</option>
                                <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputQuantity">Quantity</label>
                            <input type="number" class="form-control" id="inputQuantity" placeholder="" th:field="*{quantity}">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputMass">Mass</label>
                            <div class="input-group mb-3">
                                <input type="number" step="any" class="form-control" id="inputMass" placeholder="" th:field="*{mass}">
                                <div class="input-group-append">
                                    <span class="input-group-text">.oz</span>
                                </div>
                            </div>


                        </div>
                        <div class="form-group col-md-6">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" accept="image/*" class="custom-file-input" name="image" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02" >Choose file</label>
                                </div>
                            </div>

                    </div>
                    <input type="submit" class="btn btn-success" value="Submit" />
                </form>
            </div>
        </div>
            </div>
        </tbody>
        </table>
    </div>
</div>
</div>
<script>
    // for displaying the chosen filename and path
    $('#inputGroupFile02').on('change',function(){
        var fileName = $(this).val();
        $(this).next('.custom-file-label').html(fileName);
    })
</script>


</body>
</html>