<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>e-buy login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/navbar :: anonymous"></div>
<br><br>
<div class="pageTitle"><h2>e-buy</h2></div><br>
<div class="container">
    <form class="form-signin" method="post" th:action="@{/users/login}">
        <h4 class="form-signin-heading product">Please login</h4>
        <p th:if="${loginError}" style="color:red;">Wrong user or password</p>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>

        <p>
                <input type="checkbox" value="" id="rememberMe" name="remember-me">
                <label class="product" for="rememberMe"> Remember me?</label>
        </p>

        <button class="btn btn-lg btn-warning btn-block" type="submit">Sign in</button>
        <a  class="btn btn-lg btn-light btn-block" th:href="@{'/users/signup'}">Sign up</a>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body></html>